{% set today = "now" | date %}
{% set dayNum = "now" | date('w') %}
{% set first = today | date_modify("-#{dayNum} days") %}

<table class="calendar calendar-week">
    <thead>
    <tr>
        <th width="15%">Location</th>
        {% for count in range(1,7) %}
            {% set day = first | date_modify("+#{count} day") %}
            <th width="15%"><span class="date">{{ day | date('d') }}</span><span class="day">{{ day | date('l') }}</span></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
